/* RESET */
html {
	box-sizing: border-box;
	font-family: 'Exo 2', sans-serif;
}

html, body {
	height: 100%;
}

*,
::before,
::after {
	background-repeat: no-repeat; /* 1 */
	box-sizing: inherit; /* 2 */
	margin: 0;
}

h1 {
	font-size: 9rem;
	line-height: 1;
	color: #f7fff7;
	text-align: center;
}

h3 {
	font-size: 4rem;
	color: #f7fff7;
	line-height: 1;
	font-family: monospace;
}

p {
	margin: 20px 0;
	color: #EEEEEE;
	font-size: 1.2rem;
	font-family: monospace;
}

ul {
	list-style: none;
	padding: 0;
	margin: 2.5% 0;
}

li {
	font-family: monospace;
	color: #EEEEEE;
	margin: 1% 0;
}

code {
	background: lightgrey;
	color: #333;
	padding: 2px 4px;
	border: 1px solid #333;
	border-radius: 2px;
	line-height: 2;
}

section {
	max-width: 710px;
	width: 90%;
	margin: 50px auto 0;
}

button {
	border: none;
	background: transparent;
	color: #000;
	cursor: pointer;
	font-size: 2rem;
	font-weight: lighter;
	text-transform: uppercase;
	padding: 8px;
	letter-spacing: 2px;
	font-family: inherit;
}

button:focus {
	outline: none;
}

.container {
	height: 100%;
	display: flex;
}

.timer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto 0;
}

.time {
	font-size: 18rem;
	color: #000;
}

.controls {
	width: 300px;
	margin: 15px auto 0;
	display: flex;
	justify-content: space-between;
}

.phases {
	list-style: none;
	text-align: center;
	padding: 0;
}

.phase {
	color: #EEEEEE;
}

/******************** STATE ********************/
.active {
	background-color: #00E676;
}

.rest {
	background-color: #FF5252;
}

.rest .time, .active .time {
	color: #f7fff7;
	animation: none;
}

.rest button, .active button {
	color: #f7fff7;
}

.complete {
	color: lightgreen;
}

.info {
	animation: pulse 1.33s infinite;
	color: #f7fff7;
	font-size: 1.5rem;
	font-weight: lighter;
}

.info.hide {
	display: none;
}

/******************** NAVIGATION MENU ********************/
.menu {
	position: fixed;
	width: 50px;
	height: 50px;
	font-size: 30px;
	text-align: center;
	border-radius: 100%;
	left: 50px;
	top: 50px;
	background-color: #2979FF;
	transform: translate3d(-50%,-50%, 0);
	transform-origin: center;
	transition: .3s;
}
.menu.transform {
	width: 800vw;
	height: 800vw;
}

.menu-burger {
	position: fixed;
	width: 50px;
	height: 50px;
	font-size: 30px;
	text-align: center;
	border-radius: 100%;
	left: 25px;
	top: 25px;
	color: #f7fff7;
	padding-top: 4px;
	cursor: pointer;
	transition: .3s;
  transform-origin: center;
	z-index: 1;
}

.menu-items {
	position: absolute;
	padding: 0 20px;
	width: 100%;
	opacity: 0;
	transition: .3s;
	transform: translateY(-200%);
}
.menu-items.transform {
	transform: translateY(0);
	opacity: 1;
	margin-top: 100px;
}

.menu-items div {
	transition: 1s;
	opacity: 0;
	margin: 0 auto;
	width: 80%;
	font-weight: bold;
	letter-spacing: 10px;
	font-size: 30px;
	color: black;
	text-align: center;
}
.menu-items.transform div {
	opacity: 1;
	margin-top: 75px;
}

#app {
	height: 100%;
}

/******************** MEDIA QUERIES ********************/
@media (max-width: 800px) {
	h1 {
		font-size: 4.5rem;
		text-align: left;
	}

	h3 {
		font-size: 2.7rem;
	}

	.menu {
		left: 30px;
		top: 30px;
		width: 35px;
		height: 35px;
	}

	.menu-burger {
		width: 35px;
		height: 35px;
		left: 12px;
		top: 17px;
		padding: 0;
		font-size: 18px;
	}

	.time {
		font-size: 9rem;
	}
	.info {
		font-size: 1.2rem;
	}
}

@media (max-width: 400px) {
	h1 {
		font-size: 3.5rem;
  }

	h3 {
		font-size: 1.7rem;
	}

	.menu-items {
		padding: 0 10px;
	}

	.time {
		font-size: 7rem;
	}
}

/******************** ANIMATIONS ********************/
@keyframes pulse {
  0% {
    opacity: 0;
  }
	50% {
		opacity: 0.8;
	}
  100% {
    opacity: 0;
  }
}
