/* RESET */
html {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

*,
::before,
::after {
	background-repeat: no-repeat; /* 1 */
	box-sizing: inherit; /* 2 */
	margin: 0;
}


button {
	border: none;
	background: transparent;
	color: #000;
	cursor: pointer;
	width: 100px;
	font-size: 2rem;
	font-weight: lighter;
	text-transform: uppercase;
	padding: 8px;
	letter-spacing: 2px;
	font-family: 'Exo 2', sans-serif;
}

button:focus {
	outline: none;
}

li {
	display: inline;
	margin: 0 50px;
	font-size: 48px;
}

.container {
	height: 100%;
	display: flex;
}

.timer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto 0;
}

.time {
	font-size: 20rem;
	/*font-weight: 900;*/
	font-family: 'Exo 2', sans-serif;
	color: #000;
}

@media (max-width: 800px) {
	.time {
		font-size: 10rem;
	}
}

@media (max-width: 400px) {
	.time {
		font-size: 8rem;
	}
}

.controls {
	width: 275px;
	margin: 15px auto 0;
	display: flex;
	justify-content: space-between;
}

.phases {
	list-style: none;
	text-align: center;
	padding: 0;
}

.phase {
	color: #EEEEEE;
}

/******************** NAVIGATION MENU ********************/
.active {
	background-color: #00E676;
}

.rest {
	background-color: #FF5252;
}

.rest .time, .active .time {
	color: #f7fff7;
}

.rest button, .active button {
	color: #f7fff7;
}

.complete {
	color: lightgreen;
}

.info {
	animation: pulse 1.33s infinite;
	color: #f7fff7;
	font-size: 1.5rem;
	font-weight: lighter;
}

@media (max-width: 800px) {
	.info {
		font-size: 1.2rem;
	}
}

.info.hide {
	display: none;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
	50% {
		opacity: 0.7;
	}
  100% {
    opacity: 0;
  }
}

/******************** NAVIGATION MENU ********************/
.menu {
	position: fixed;
	width: 50px;
	height: 50px;
	font-size: 30px;
	text-align: center;
	border-radius: 100%;
	left: 50px;
	top: 50px;
	background-color: #2979FF;
	transform: translate3d(-50%,-50%, 0);
	transform-origin: center;
	transition: .4s;
}
.menu.transform {
	width: 300vw;
	height: 300vw;
}

.menu-burger {
	position: fixed;
	width: 50px;
	height: 50px;
	font-size: 30px;
	text-align: center;
	border-radius: 100%;
	left: 25px;
	top: 25px;
	color: #f7fff7;
	padding-top: 4px;
	cursor: pointer;
	transition: .3s;
  transform-origin: center;
}

.menu-items {
	position: absolute;
	width: 100%;
	opacity: 0;
	transition: .4s;
	transform: translateY(-200%);
}
.menu-items.transform {
	transform: translateY(0);
	opacity: 1;
	margin-top: 100px;
}

.menu-items div {
	transition: 1s;
	opacity: 0;
	margin: 0 auto;
	width: 80%;
	font-weight: bold;
	letter-spacing: 10px;
	font-size: 30px;
	color: black;
	text-align: center;
}
.menu-items.transform div {
	opacity: 1;
	margin-top: 75px;
}

#app {
	height: 100%;
}
