/* RESET */
html {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

*,
::before,
::after {
	background-repeat: no-repeat; /* 1 */
	box-sizing: inherit; /* 2 */
	margin: 0;
}


button {
	border: none;
	background: transparent;
	color: #f7fff7;
	cursor: pointer;
	width: 100px;
	font-size: 2rem;
	font-weight: lighter;
	text-transform: uppercase;
	padding: 8px;
	letter-spacing: 2px;
	font-family: 'Exo 2', sans-serif;
}

button:focus {
	outline: none;
}

li {
	display: inline;
	margin: 0 50px;
	font-size: 48px;
}

.container {
	height: 100%;
	background-color: #2196F3;
}

.timer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto 0;
}

.time {
	font-size: 20rem;
	/*font-weight: 900;*/
	font-family: 'Exo 2', sans-serif;
	color: #f7fff7;
}

@media (max-width: 800px) {
	.time {
		font-size: 10rem;
	}
}

@media (max-width: 400px) {
	.time {
		font-size: 8rem;
	}
}

.controls {
	width: 275px;
	margin: 15px auto 0;
	display: flex;
	justify-content: space-between;
}

.phases {
	list-style: none;
	text-align: center;
	padding: 0;
}

.phase {
	color: #EEEEEE;
}

.complete {
	color: lightgreen;
}

.active {
	background-color: #00E676;
}

.rest {
	background-color: #FF5252;
}

.info {
	animation: pulse 1.33s infinite;
	color: #f7fff7;
	font-size: 1.5rem;
	font-weight: lighter;
}

@media (max-width: 800px) {
	.info {
		font-size: 1.2rem;
	}
}

.info.hide {
	display: none;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
	50% {
		opacity: 0.7;
	}
  100% {
    opacity: 0;
  }
}

#app {
	height: 100%;
}
